<%= form_for(current_user.participates.build(event_id: @event.id), remote: true ) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
 	<%= f.submit "参加", class: "btn btn-large btn-primary" %>
 	<%= f.label :comment %>
 	<%= f.text_area :comment %>
<% end %>