<h1>Event</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :limit %>
      <%= f.number_field :limit %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :start_at %>
      <%= f.text_field :start_at %>

      <%= f.label :end_at %>
      <%= f.text_field :end_at %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>